.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 6px;
    height: 60px;
    box-sizing: border-box;
    color: rgb(31, 31, 31);
    flex-shrink: 0;
    font-family: arial, sans-serif;
    font-size: 14px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    unicode-bidi: isolate;
}